{% from "bootstrap/pagination.html" import render_pagination %}
{% from "macros.html" import post_meta, voting with context %}

{% if posts.items %}
  <table class="table table-bordered">
  {% for post in posts.items %}
  <tr class="post-row">
    <td>
      {{ voting(post, loop.index0) }}
    </td>
    <td>
      <div class="post-title"><a href="{{ url_for("post", post_id=post.id) }}" id="post-{{ loop.index0 }}-link">{{ post.title }}</a></div>
      {{ post_meta(post) }}
    </td>
  </tr>
  {% endfor %}
  </table>
{% else %}
  <p>No entries.</p>
{% endif %}


{{render_pagination(posts)}}