[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mongoengine = "*"
requests = "*"	
black = "*"
pytest = "*"
pymongo = "*"
dnspython = "*"
gunicorn = "*"
celery = {extras = ["redis"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
